absl-py
astunparse
blinker
cachetools
certifi
charset-normalizer
click
colorama
docopt
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
itsdangerous
Jinja2
keras
libclang
Markdown
MarkupSafe
numpy
oauthlib
opt-einsum
packaging
pandas
Pillow
pilo
pipreqs
protobuf
pyasn1
pyasn1-module
python-dateutil
pytz
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
yarg